{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AccessControl</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
</head>
<body>

<nav class="menu-container">
    <div class="field-home">
        <a href="{% url 'home' %}"><img src="{% static "img/inc.png" %}" href="/" style=" display: inline-block; width: 30%;text-align: center;margin-top: 15px;"/></a>
    </div>
    <ul class="menu">
    {% if not user.is_authenticated %}
    <li><a href="{% url 'login' %}" style="font-size: 1.6rem;" >Войти</a></li>
    {% else %}
    <li><a href="{% url 'logout' %}" style="font-size: 1.6rem;">Выйти</a></li>
    {% endif %}

  </ul>
</nav>
{% block content %}
{% endblock %}

</body>
</html>
