.idea
django_project/.idea
node_modules/
.idea/*
*.pyc
/.idea
/docker-compose.yml
/django_project/remote_expert/settings.py
/django_project/venv/
!/docker-compose.yml
/django_project/debug.log
/django_project/locale/en/LC_MESSAGES/django.mo
/django_project/locale/ru/LC_MESSAGES/django.mo
