{% extends "home.html" %}
{% load static %}

{% block content %}
    <div id="registration" style="animation-name: fade-in;animation-duration: 2s; width: 27%;">
    <h1>Регистрация</h1>
        <form class="form-horizontal" name="LoginForm" action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                {{ form.username }}
            </div>
            <div class="control-group">
                {{ form.email }}
            </div>
            <div class="control-group">
                {{ form.password }}
            </div>
            <div class="control-group">
                <div class="controls" style="text-align: center">
                    <button type="submit" class="btn btn-primary btn--font-weight">Зарегистрироваться</button>
                </div>
            </div>
            <div style="position: fixed; text-align: center; width: 27%">
                {% if form.non_field_errors %}
                    <div class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </form>
        <div style="position: fixed; text-align: center; width:  27%">
            <p style="font-size: 15px;margin-top: 130px; ">Уже зарегистрированы?<a href="{% url 'login' %}" class="regLink" tabindex="5">Войти</a></p>
        </div>
    </div>
{% endblock %}