{% extends "base.html" %}

{% block content %}
<main class="main rates">
    <div class="container">
        <div class="admin-datalist-page">

            <div class="centred-content container-s">
                <div class="row">
                    <a class="btn btn-primary-send float-l rates__btn">Получить новый доступ</a>

                </div><!-- .title-bar -->
                <div class="content-box padding">

                    <form action="{{ request.path }}" class="form-dark form-small" method="post"
                          enctype="multipart/form-data" >
                      {% csrf_token %}
                        <div class="input-wrap ">
                            <label for="base_rate">Имя</label>
                            <input class="form-control" name="base_rate" placeholder="0.01" type="text" required>
                        </div>
                        <div class="input-wrap ">
                            <label for="effective_dt">Дата</label>
                            <input type="text" id="calendar" placeholder="DD/MM/YYYY" name="effective_dt" required />
                        </div>
                        <div class="submit-wrap">
                            <button class="btn btn-green">Submit</button>
                        </div>
                        <div style="text-align: center">
{#                            {% if errors %}#}
{#                                    <div class="row">#}
{#                                        <a style="color: red"> {% raw errors %}</a>#}
{#                                    </div>#}
{#                            {% end %}#}
                        </div>
                    </form>
                </div><!-- .content-box -->
            </div>
        </div>
    </div>
</main>
{% endblock %}