{% extends "base.html" %}

{% block content %}
<main class="main rates">
    <div class="container">
        <div class="admin-datalist-page">

            <div class="centred-content container-s">
                <div class="row">
                    <a class="btn btn-primary-send float-l rates__btn">Получить новый доступ</a>

                </div><!-- .title-bar -->
                <div class="content-box padding">
                    <form class="form-horizontal" role="form" action="{% url 'new-access' %}" id="access-form" method="POST">
                      {% csrf_token %}
                        <div class="input-wrap ">
                            <label for="username">Ваше Имя</label>
                            <input style="color: black;" class="form-control" name="username" value="{{ request.user }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label for="space_name">Цель вашего запроса</label>
                            <input style="color: black;" type="text" name="space_name" required />
                        </div>
                        <div class="submit-wrap">
                            <button class="btn btn-primary btn--font-weight">Отправить</button>
                        </div>
                        <div style="text-align: center">

                        </div>
                    </form>
                </div><!-- .content-box -->
            </div>
        </div>
    </div>
</main>
{% endblock %}