{% extends "base.html" %}

{% block content %}
<main class="main rates">
    <div class="container">
        <div class="admin-datalist-page">
            <div class="centred-content container-s" style="margin-top: -40px;">
                <div class="row">
                    <a class="btn btn-primary-send float-l rates__btn">Заявка № {{ access.id }} </a>
                    <a style="margin-right: 0px;" href="\accesses\" class="btn btn-primary float-r btn--font-weight">Назад</a>
                </div>
                <div class="content-box padding" style="box-shadow: 0 0 20px #e7e7e7;background-color: #fff;box-sizing: border-box;margin: 7px 0 30px;">
                    <form class="form-horizontal" role="form" action="{% url 'new-access' %}" id="edit-form" method="POST">
                      {% csrf_token %}
                        <div class="input-wrap ">
                            <label for="date">Дата запроса</label>
                            <input style="color: black; border-color: grey;" class="form-control" readonly name="date" value="{{ access.date|date:"Y-M-d h:m"  }}" type="text" >
                        </div>
                        <div class="input-wrap ">
                            <label for="username">Ваше Имя</label>
                            <input style="color: black; border-color: grey;" class="form-control" readonly name="username" value="{{ access.name }}" type="text" >
                        </div>
                        <div class="input-wrap ">
                            <label for="access">Текущий доступ</label>
                            <input style="color: black; border-color: grey;" class="form-control" readonly name="access" value="{{ access.access }}" type="text" >
                        </div>
                        <div class="input-wrap ">
                            <label for="space_name">Цель вашего запроса</label>
                            <input style="color: black; border-color: grey;" type="text" readonly readonly name="space_name" value="{{ access.space_name }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}